
<div id="demoselect">
  More Examples:
  <a id="load_variables" href="#demo">variables</a>,
  <a id="load_mixins" href="#demo">mixins</a>,
  <a id="load_nested_rules" href="#demo">nested rules</a>,
  <a id="load_namespaces" href="#demo">namespaces</a>,
  <a id="load_color_funcs" href="#demo">color functions</a>,
  <a id="load_strings" href="#demo">strings</a>
</div>

<div class="demo-box">
  <textarea id="editor-code"></textarea>
  <pre id="demo-out">CSS comes here, click compile to build.</pre>
</div>
<div class="demo-tools">
  <button id="compile-button">Compile</button>
  <button id="clear-button">Clear</button>
  &middot; <a href="">Go to fullscreen version</a>
</div>


<script type="text/javascript" src="$root/index.js"></script>

