
.new {
	background: #FAFAD7;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 1em;
}

.new strong {
	color: #59502B;
}

.hint {
    color: #444;
}

body {
	margin: 0;
	padding: 0;
	font: 14px verdana, sans-serif;
	line-height: 140%;
}

h1,h2 {
	padding: 0.5em;
	font-family: calibri, helvetica, sans-serif;
	margin: 0;
}

.top {
	background: #182F51;
	height: 6px;
}

.header {
	border-top: 1px solid white;
	background: #E7F3FB;
	color: #182F51;
	text-shadow: 1px 1px 0px white;
}

.header h1 {
	padding: 0.5em 0.5em 0.5em 0;
}

.header-link {
	padding-top: 1em;
}

.header-link a:link {
	border-bottom: none;
}


.header-link a:hover {
	border-bottom: 1px solid #4570B8;
}

h1 a:link, h1 a:visited {
	color: #182F51;
	text-decoration: none;
	border-bottom: 0;
}

h2 {
	padding: 0.5em 0.25em;
	color: #1C97E8;
}


p {
	margin: 0px;
	padding: 0px 1.0em 0.5em 1.0em;
}

a:link, a:visited {
	color: #4570B8;
	border-bottom: 1px solid #4570B8;
	text-decoration: none;
}

a:hover {
	background-color: #E7F3FB;
}

ul {
	margin: 0px;
}

#nav {
	margin: 1.0em 0.0em;
}

hr {
	border: 0;
	height: 1px;
	background-color: #afafaf;
	margin: 0px 1em;
}

.sub {
	font-size: 66%;
}

.foot {
	color: #afafaf;
	font-size: 80%;
	text-align: center;
	margin: 1.0em 0em;
}

.foot a {
	text-decoration: none;
	color: #777777;
	border-bottom: 1px solid #777777;
}

.foot a:hover {
	color: #000000;
	background: none;
}

#demoselect {
	border: 1px solid #777777;
	margin: 1em 0;
    padding: 0.5em;
}

.demo-box {
    position: relative;
    border: 1px solid #777;
}

#demo-out {
    min-height: 400px;
    margin-left: 50%;
    background: #f4f4f4;
    border-left: 1px dashed #777;
    padding: 8px;
}

pre#demo-out {
	overflow-x: auto; 
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
    margin-bottom: 0px;
}

.demo-box .CodeMirror {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;
}

.demo-box .CodeMirror-scroll {
    height: 100%;
}

.demo-tools {
    padding: 4px 1em;
    margin-bottom: 1em;
}


.comments {
    padding: 0.5em;
    border: 1px solid #777777;
}

p.important {
	background-color: #FBE7E7;
	background-color: #FFD6D7;
	background-color: #FFDEE2;
	padding: 1em 0.5em;
	margin: 0.5em 0.0em 0.5em 0.5em;
}


/* pygments */
.s1 { color: #a8ff60; }
.k { color: #96cbfe; }
.nb { color: #ffd2a7; }
.o { color: #00a0a0; }
.nv { color: #c6c5fe; }
.cm, .c1 { color: #7c7c7c; }
.nx { color: #ffffb6; }
.cp { color: #CCA1AA; }

pre.highlight {
    font-family: monospace; 
	color: #f6f3e8;
	background-color: #101010;
	padding: 1.0em 4.0em;
	margin: 1.0em;
}

.green-info {
	background: #E0FAD7;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin-top: 1em;
}


.green-info a:hover {
	background: none;
}

.green-info h3 {
	color: #0F3900;
	text-shadow: 1px 1px 0px white;
	margin: 0px 0px 8px 0px;
}

.pad {
	padding: 1em;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.single-commit {
	border: 1px solid #777777;
	margin-bottom: 2px;
	padding: 2px 4px;
	cursor: pointer;
	font-size: 90%;
}

.single-commit:hover {
	background-color: #F4FFF0;
	border: 1px solid green;


	background-color: #FFFDEB;
	border: 1px solid #484100;

}

.commit-message {
	font-style: italic;
	color: #444;
	padding: 0px 2px;
}

ul {
    margin: 0 0 1em 1em;
}

#nav ul, .green-info ul {
    margin: 0;
}


