
$wrap{"web"}

<div class="container_12">
  <div class="grid_4">
    <div id="nav">$index</div>
  </div>

  <div class="grid_4 green-info">
    <div class="pad">
      <h3>Resources</h3>
      <ul>
        <li>The <a href="http://leafo.net/lessphp/docs/">official documentation</a>.</li>
        <li>A <a href="http://leafo.net/lessphp/vim/">Vim syntax</a>file.</li>
      </ul>
    </div>
  </div>

  <div class="grid_4 green-info">
    <div class="pad">
      <h3>Plugins</h3>
      <ul>
        <li><a href="http://www.symfony-project.org/plugins/sgLESSPlugin">Symfony plugin</a> <span class="sub">by
          <a href="http://blog.servergrove.com/2009/07/30/css-symfony-plugin-with-lessphp/">ServerGrove</a></span>
        </li>
        <li><a href="http://wordpress.org/extend/plugins/wp-less/">Wordpress plugin</a> <span class="sub">by
          <a href="http://case.oncle-tom.net/">Oncle Tom</a></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="clear"></div>

  <div class="grid_12">
    <div class="new">
      <strong>New:</strong> lessphp 0.3.0, huge compatibily updates
    </div>

    $body
  </div>
</div>
